body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: sans-serif;
}

/* Heading */
.main-heading {
    text-align: center;
    margin: 20px 0;
}

/* Blog container */
.main {
    padding: 10px;
}

/* Blog card */
.content {
    max-width: 800px;
    margin: 25px auto;
    padding: 20px;
    background-color: #d9d9d9;
    border: 2px solid rgb(49, 49, 77);
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

/* Sub heading */
.sub-topics {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Paragraph */
.hero-section {
    margin-bottom: 15px;
}

/* Read more button */
.read-more {
    display: block;
    width: fit-content;
    margin: 10px auto 0;
    padding: 6px 14px;
    background-color: #57473a;
    color: beige;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
}

/* Hover effect */
.read-more:hover {
    background-color: rgb(204, 194, 194);
    color: #57473a;
}

.description{
 
    margin: 10px;
    border: 2px solid rgb(49, 49, 77);
    padding: 15px;
    margin: 15px;
    box-shadow: 0 2px 10px 0.5px rgba(0, 0, 0,0.8);
}
.content, .sub-topics, .hero-section, .description{
        background-color: #d9d9d9;
    }